# CADENCE
xrun.*
xcelium.*
*.log
*.svwf
*.key
*.sim
hdl.var
cds.lib

testbench_ctucanfd/hdl_libs/CTU_CAN_FD_RTL/*
!testbench_ctucanfd/hdl_libs/CTU_CAN_FD_RTL/.gitkeep

testbench_ctucanfd/hdl_libs/WORKLIB_SV/*
!testbench_ctucanfd/hdl_libs/WORKLIB_SV/.gitkeep

synthesis/*
testbench_after_syn/*

# ICARUS + GTK
*.vcd
*.gtkw
*.diag
*.vvp
*.dump


/testbench_xcelium/*.sv
/testbench_icarus/*.sv
/testbench_icarus/test

waves.shm/
xcelium.d/
.simvision/
